*xmonad-x86_64-linux
*xmonad.o
*xmonad.state
/dotfiles/.xmonad/.stack-work
/dotfiles/.xmonad/xmonad.errors
/dotfiles/.ghc/ghci_history
/dotfile/.spacemacs.d/custom.el
/dotfiles/.spacemacs.d/custom.el
/dotfiles/.xmonad/xmonad.hi
/dotfiles/.config/htop/htoprc
/dotfiles/.config/fish/fishd.herbert
/dotfiles/.config/fish/functions/fish_prompt.fish
/dotfiles/.ghc
/dotfiles/.stack
/dotfiles/bin/grabber
/dotfiles/bin/pusher
/dotfiles/.config/fish/functions/__z.fish
/dotfiles/.config/fish/functions/__z_add.fish
/dotfiles/.config/fish/functions/__z_clean.fish
/dotfiles/.config/fish/functions/__z_complete.fish
/dotfiles/.config/fish/functions/fish_right_prompt.fish
/dotfiles/.config/fish/functions/fisher.fish
/dotfiles/.config/fish/functions/z.awk
/dotfiles/.config/fish/functions/zadd.awk
/dotfiles/.config/fish/functions/zclean.awk
