*xmonad-x86_64-linux
*xmonad.o
*xmonad.state
/dotfiles/.xmonad/xmonad.errors
/dotfiles/.ghc/ghci_history
/dotfile/.spacemacs.d/custom.el
/dotfiles/.spacemacs.d/custom.el
/dotfiles/.xmonad/xmonad.hi
/dotfiles/.config/htop/htoprc
/dotfiles/.config/fish/fishd.herbert
/dotfiles/.ghc
/dotfiles/.stack
/dotfiles/bin/grabber
/dotfiles/bin/pusher
